:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

*{
  margin: auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body,html{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--body-background);
}

#body{
    position: relative;
    height: 130vh;
    background: no-repeat center/cover url(../IMG/background.png)
}

p, h1, h2,h3 {
  color: var(--text-color);
}

span{
  color: var(--color-logo);
}

header{
  width: 100vw;
  position: relative;
  display: flex;
  top: 3.5rem;
}

.menu nav{
  display: flex;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;

}

.menu nav a{
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}

.menu nav a:hover{
  border-bottom: 2px solid var(--color-logo);
}

#button button{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.conteinerTop{
  width: 100vw;
  height: 33vh;
  position: relative;
  top: 15rem;
  display: grid;
  grid-template-areas: "left center right" ;  
  grid-template-columns: 30% 1fr 20% ;
  grid-template-rows: 100%;
  justify-content: center;
}

#colLeft{
  position: relative;
  padding-left: 2rem;
  grid-area: left;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#colLeft #marketDescription{
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: 1rem;
  margin: 0 20%;
}

#divArt{
  position: relative;
  top: 6.5rem;
  display:flex;
  align-items: center;

}

#artists{
  display: flex;
  position: relative;
  width: 50%;
  left: 0;
  align-items:center;
}

#colLeft #artists img{
      position: absolute;
      width: 35%;
      transition: all 1s ease-in-out;
      
      
}

#colLeft #artists img:hover{ 
  z-index: 1;
  transform: scale(1.1);
  }

#artista01{right: 1rem;}
#artista02{right: 2rem;}
#artista03{right: 3rem;}
#artista04{right: 4rem;}
#artista05{right: 5rem;}
#artista06{right: 6rem;}

#divArt p{
  display: block;
  width: 50%;
  margin: 0;
 
  
}

#colCenter{
  grid-area: center;
  align-items: flex-start;
  height: 100%;
  padding: 0 2rem;
}
#colCenter h1{
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}

#colRight{
  height: 100%;
  grid-area: right;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-right: 20%;
}

#colRight img{
  display: block;
  margin-top: 0;

}

@media screen and (max-width:1400px) {
  .conteinerTop{ grid-template-areas: 
    "bottom bottom"
    "topLeft topRight"
    ;
    top: 10%;
    grid-template-columns:  50%;
    grid-template-rows: 30vh 1fr;
    height: 60vh;
  }

  #divArt{top:35%}

  #colLeft #artists img{width: 25%;}

  #colLeft{grid-area: bottom;}

  #colCenter{grid-area: topLeft;}

  #colCenter h1{  font-size: 45px;}

  #colRight{grid-area: topRight;}

  #colRight img{
  width: 100%;
  }
}

@media screen and (max-width:700px) {
  .conteinerTop{display: block;}
  
  #colRight img{
    width: 30%;
    }

    #colRight, #colLeft, #colCenter{padding: 0;}

    #divArt{top: 20%;
    width: 100%;}
    #colLeft{height: 30vh;}
    #colCenter{height: 25vh;}
    #colRight{height: 20vh;}
    #colCenter h1{text-align: center;}
}

@media screen and (max-width:450px){
  #colCenter h1{  font-size: 30px;}
}
#colLeft #marketDescription{font-size: 16px;}

@media screen and (max-width:370px){
  #colCenter{
    position: relative;
    top: 25%;}
  #divArt{top: 30%;
  padding-left: 1.5rem;}
  #divArt #artists img{width: 40%}
  #colRight{display: none;}
}

@media screen and (max-height:670px){
  #colRight{display: none;}
  #colCenter{
    position: relative;
    top: 25%;}
}
.galery{
  width: 90vw;
  position: relative;
  top:20%;
  justify-content: center;
}



.line1 , .line2{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.line1 img, .line2 img{
  margin: 0;
  width: 25%;
  border: 1px solid var(--text-color);
  margin-top: 3rem;
}

@media screen and (max-width:1400px) {
  .galery{
   
   top: 15%;
 } 
} 

@media screen and (max-width:700px) {
 .galery{
  display: flex;
  gap: 1rem;
  margin: 0;
  width: 100vw;
  top: 30%;
} 

 .line1, .line2{
  width: 50%;
  gap: 1rem; 
  flex-direction: column;}
  .line1 img, .line2 img{
    display: block;
    margin: 0;
    width: 100%;}
  
}

.conteinerCenter{display: flex;
height: 80%;}


.dataLeft{width: 80%;
border-right: 1px solid var(--card-color);
height: 100%;
display: flex;
flex-direction: column;
text-align: center;
}

.dataLeft div{width: 100%;}

.dataLeft h1{
  width: 50%;
  font-size: 50px;
  font-weight: 600;
}

.dataLeft p {
  width: 50%;
  color: var(--subtitle-color);}

.dataMain{height: 100%;}
#imgMainCenter{background: no-repeat center/cover url(../IMG/banner.png);
  height: 40%;
  }


.para{display: flex;
height: 60%;
padding: 0 10%;
border-bottom: 1px solid var(--card-color);
gap: 5rem;
}

.para p{margin-bottom: 3rem;
text-align: justify;
}

.para a{
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (max-width:700px){
  .conteinerCenter{margin-top:110%;
  display: block;
  }
  .para{padding:0 2rem;
    gap: 2rem;}
  

  .dataLeft{display: flex;
  border: none;
  }
  
}

@media screen and (max-width:500px){
  .para p {font-size: 12px;
  margin-bottom: 1rem;}
  .para{padding:0 0.5rem;}
}
@media screen and (max-width:350px){
  .para p {font-size: 10px;}
}

.conteinerAstro{
  width: 100vw;
  padding: 0 10%;
}

@media screen and (max-width:700px){
  .conteinerAstro{
    position: relative;
    top: 90%;
  }
}

.conteinerAstro h1{font-size: 50px;
margin: 5% auto;
}

#contAstro{
  width: 100vw;
  display: flex;
  padding-bottom: 2rem;
}

#divAstro, #divAstro2{
  width: 47.5%;
  height: 100%;
  margin: 0;
}

#divAstro{
  border-right: 1px solid var(--subtitle-color)
 }

#divAstro2{
  padding-left: 20%;
}

#astro01, #astro04 {
  margin-bottom:5%;
}

#astro01 div, #astro02 div ,#astro04 div ,#astro05 div{ 
  display: flex;
  width: 100%;
  margin:1rem auto ;
}


#astro01 div h2, #astro02 div h2 ,#astro03 div h2 ,#astro04 div h2 ,#astro05 div h2,#astro06 div h2{
  font-size: 30px;
  width:30% ;
  margin: 0 6rem 0 0;}

#astro01 div p, #astro02 div p, #astro03 div p, #astro04 div p, #astro05 div p, #astro06 div p{
  font-size: 20px;
  font-weight: 600;
  width:30% ;
  color: var(--subtitle-color);
  margin: 0 2.5rem 0 0;}


  #astro01 div span, #astro02 div span, #astro03 div span, #astro04 div span, #astro05 div span, #astro06 div span{font-weight: 400;}

#astro01 div img,#astro02 div img , #astro03 div img, #astro04 div img, #astro05 div img, #astro06 div img{ 
  display: block;
  cursor: pointer;
  margin: 0;
}

@media screen and (max-width:1300px){
.conteinerAstro{padding: 0;}

#contAstro{flex-direction: column;}

#divAstro2{padding: 0;}

#divAstro, #divAstro2{
  width: 100%;
}
#astro01  img#imgAstro ,#astro02  img#imgAstro , #astro03  img#imgAstro, #astro04  img#imgAstro, #astro05  img#imgAstro, #astro06  img#imgAstro{width: 100%;}

}

.bestArtists{
  width: 90%;
  justify-content: center;
  margin-top: 8%;
}

@media screen and (max-width:700px) {
  .bestArtists{position: relative;
  top: 110%         ;
  }
  
}

.bestArtists h1{
  text-align: center;
  font-size: 50px;}

  .cards{
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content:center ;
   }

  
  .cards2{
    width: 80%;
    margin-top: 2%;
    display: flex;
    justify-content:center ;
   }


  #cardArt01,  #cardArt02, #cardArt03,  #cardArt04,  #cardArt05, #cardArt06{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-color);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 4px;
    transition: background 1s ease-in-out;
  }

  #cardArt01 span,  #cardArt02 span, #cardArt03 span,  #cardArt04 span,  #cardArt05 span, #cardArt06 span{
    transition: all 1s ease-in-out;
  }


  #cardArt01 div,  #cardArt02 div,  #cardArt03 div , #cardArt04 div, #cardArt05 div, #cardArt06 div{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #cardArt01 div p, #cardArt02 div p, #cardArt03 div p,#cardArt04 div p, #cardArt05 div p, #cardArt06 div p{
    width: 100%;
   
  }

  .cards #cardArt01:hover, .cards #cardArt02:hover,.cards #cardArt03:hover, .cards2 #cardArt04:hover, .cards2 #cardArt05:hover, .cards2 #cardArt06:hover{
    background-color: var(--color-logo);
  }

  .cards #cardArt01:hover span,  .cards #cardArt02:hover span,  .cards #cardArt03:hover span,  .cards2 #cardArt04:hover span,  .cards2 #cardArt05:hover span, .cards2 #cardArt06:hover span{
    color: #fff;
  }

  @media screen and (max-width:1400px) {

    .cards, .cards2{
      width: 100%;
      gap: 1rem;
    }
    .cards2{margin-top: 1rem}

    #cardArt01,  #cardArt02, #cardArt03,  #cardArt04,  #cardArt05, #cardArt06{
      width: 40%;}

    #cardArt01 div p, #cardArt02 div p, #cardArt03 div p,#cardArt04 div p, #cardArt05 div p, #cardArt06 div p{
        font-size: 14px;
      }

      #cardArt01 div img, #cardArt02 div img, #cardArt03 div img,#cardArt04 div img, #cardArt05 div img, #cardArt06 div img{width: 100%;}
    
  }

  @media screen and (max-width:1000px) {
    .cards, .cards2{flex-direction: column;}
    
    #cardArt01,  #cardArt02, #cardArt03,  #cardArt04,  #cardArt05, #cardArt06{width: 80%;}

    #cardArt01,  #cardArt02, #cardArt03,  #cardArt04,  #cardArt05, #cardArt06{
      box-sizing: border-box;
      border-left: 2rem solid var(--color-logo);
    }

    #cardArt01 div p, #cardArt02 div p, #cardArt03 div p,#cardArt04 div p, #cardArt05 div p, #cardArt06 div p{
      font-size: 20px;
    }
  }

  @media screen and (max-width:600px) {
    #cardArt01,  #cardArt02, #cardArt03,  #cardArt04,  #cardArt05, #cardArt06{width: 100%;
    gap: 0.5rem;
    }

    #cardArt01 div p, #cardArt02 div p, #cardArt03 div p,#cardArt04 div p, #cardArt05 div p, #cardArt06 div p{
      font-size: 12px;
    }

    
  }

  @media screen and (max-width:300px){ #cardArt01 div span, #cardArt02 div span, #cardArt03 div span,#cardArt04 div span, #cardArt05 div span, #cardArt06 div span{
    font-size: 10px;
  }}

  #moreArt{
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    display: block;
    margin: 5% auto;  
  }

  #moreArt img{
    margin-left: 1rem;
  }

  footer
  {
    background: var(--card-color);
    display: grid;
    grid-template-areas: 
              "top top"
              "centerLeft centerRight"
              "bottom bottom"
                              ;
    grid-template-columns: 35vw 1fr;
    grid-template-rows: 1fr 70% 1fr;
    width: 100vw;
    height: 70vh;
  }

  #logoFooter{
    display: flex;
    width: 100%;
    grid-area: top;
    border-bottom:1px solid var(--subtitle-color) ;
    height: 100%;
  }

  .input{
    border-right: 1px solid var(--subtitle-color) ;
    border-bottom: 1px solid var(--subtitle-color) ;
    height: 100%;
    width: 100%;
    grid-area: centerLeft;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

.input h1{
  font-size: 30px;
  padding: 0 23%;
  margin: auto auto 0 auto;
}

.input div{
  width: 80%;
  display: flex;
  margin-top: 1rem;
  gap:0
}

.input div input{
  width: 60%;
  height: 7vh;
  background: var(--color-input);
  border: none;
  border-radius: none;
  box-sizing: border-box;  
  vertical-align: middle;
  margin: 0 0 0 auto;
}

.input div input:focus{
  outline: none;
}

.input div input::placeholder{
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  color: var(--subtitle-color)
}

.input button{
  width: 20%;
  height: 6.5vh;
  border: none;
  border-radius: none;
  position: relative;
  right: 16px;
  top: 2px;
  margin: 0 auto 0 0;
  font-size: 20px;
  font-weight: bold;
}

.institu{
  grid-area: centerRight;
  border-bottom: 1px solid var(--subtitle-color) ;
  height: 100%;
  width: 100%;
  display: flex;
}

.institu ul {
  display: block;
}

.institu ul li{
  display: block;
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.institu ul li a{
  text-decoration:none;
  width: 100%;
  color: var(--subtitle-color);
  transition: color .5s ease-in-out;
}

.institu ul li a:hover{
  color: var(--color-logo);
}

.institu ul li#titleLi {
  color: var(--text-color);
  font-weight: bold;
}

.socialMedia{
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: bottom;
}

  .socialMedia a{
    font-size: 20px;
    text-decoration: none;
    color: var(--subtitle-color);
  }

  .socialMedia div{
    display: flex;
    gap: 2rem;
  }

#topArrow{
  background-color: var(--color-logo);
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  display: block;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#topArrow img{
  display: block;
  width: 100%;
}

